<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/login_style.css">
    <title>Login User</title>
</head>
<body>
    <div id="top-bar"></div>
    <div class="clip_frame grpelem" id="u85">
        <img class="block" id="u85_img" src="/static/images/header-logoc2.png" alt="" width="115" height="49"> 
    </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="loginForm">
        <h3>Login Here</h3>

        <label for="email">Email</label>
        <input type="email" placeholder="Email" id="email" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" pattern=".{8,}" required>

        <button class="formBtn" type="button" name="submit" id="submit" onclick="window.location.href='{{ url_for('home') }}'">Log In</button>


    </form>
</body>
</html>
